:root{
    --text_color: #eff5f8;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text_color);
}
body.giorno{
    background: linear-gradient(#014b6d,#58c8fc);
}
body.notte{
    background: linear-gradient(#00151f,#005f8b);
}
.posizione{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posizione-luogo{
    font-size: 50px;
}
.posizione-regione{
    font-size: 20px;
}
.temperatura{
    position: relative;
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.temperatura-gradi{
    display: flex;
}
.gradi-numero{
    margin: 5px;
    font-size:100px;
}
.gradi-c{
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
}
.temperatura-descrizione{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temperatura-descrizione i{
    margin: 15px;
    transform: rotate(20deg);
}
.fa-sun{
    transform: rotate(20deg);
}
.descrizione-icona{
    width:90px;
    filter: invert(92%);
}
.descrizione-meteo{
    max-width: 150px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.bottoni{
    width: 65%;
}

.bottoni button{
    color: inherit;
    font-weight: bold;
    font-size: 20px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding:16px;
    transition: 0.3s;
}

.bottoni button:hover{
    background-color: #005f8b62;
}

.bottoni button.active{
    background-color: #005f8b5b;
}

.previsioni{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.previsioni-table{
    margin: 10px;
    text-align: center;
    border-spacing: 40px 5px;
    width: 80%;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--text_color);
}
.previsioni-ora td{
    padding-top: 10px;
    margin: 5px;
    font-weight: bold;
}
.previsioni-temp td{
    font-weight: bold;
    font-size: 30px;
}
.previsioni-descr td{
    padding-top: 10px;
    max-width: 100px;
    vertical-align: top;
    font-weight: bold;
}

.previsioni-giorni td{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.previsioni-icone td i{
    margin: 7px;
}
.previsioni-temperature td span:first-child{
    font-weight:bold;
}
.previsioni-temperature td span{
    margin: 5px;
    display:inline;
    font-weight: 500;
    font-size: 17px;
}

